*{
    margin: 0;
    padding: 0;
}

.head{
    background-color: rgb(255, 166, 0);
}

.det{
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    line-height: 2;
}

.det h1{
    text-align: center;
    margin-bottom: 20px;
}

.det p{
    margin: 10px;
}
