*{
    margin: 0;
    padding: 0;
}

.det{
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    padding: 3%;
    margin: 2% auto;
    line-height: 2;
    background-color: rgba(255, 166, 0, 0.571);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.542);


}

.det h1{
    text-align: center;
    margin-bottom: 20px;
}

.det p{
    margin: 10px;
}

.det a{
    border-radius: 2px;
    background-color: white;
    margin: 10px;
    padding: 2%; 
}

.det a:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.542);

}