/* Global Styles */
* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #4CAF50;
    font-size: 2em;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-group,
.transaction-options {
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.success {
    color: #4CAF50;
}

.error {
    color: #F44336;
}
